node_modules/
dist/
.env
*.pem

# Terraform
.terraform/
**/.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
.terraform.lock.hcl

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

readme.txt
